colorLight = #F5F5F5
colorDark = #4D4D4C
colorBlue = #005F87

@import url('http://fonts.googleapis.com/css?family=Merriweather:400,400italic,700|Lato:400,400italic,700');
h1, h2, h3, h4, h5, h6
    font-family: 'Lato', sans-serif
html
    font-family: 'Merriweather', serif

// Set default width calculation to border-box for all elements
html
    box-sizing: border-box
*, *:before, *:after
    box-sizing: inherit

// Remove all default link styling
a
    color: inherit
    text-decoration: inherit

body
    margin: 0
    color: colorDark
    background-color: colorLight
    > header
        position: fixed
        color: colorLight
        width: 100%
        padding: 15px
nav
    float: right
    ul
        margin: 0
        padding: 0
    li
        float: left
        margin: 0 10px
        a
            display: inline-block
            padding: 10px 15px
            border-radius: 5px
            background-color: colorLight
            color: colorDark
#splash
    height: 100%
    background-color: colorBlue
    color: colorLight
    /*
     * Aligns the text in the center of the screen vertically
     * using a pseudo-element right before the content
     */
    text-align: center
    &:before
        content: ''
        display: inline-block
        height: 100%
        vertical-align: middle
    div
        display: inline-block
        vertical-align: middle
