colorLight = #ccc
colorDark = #333

// Set default width calculation to border-box for all elements
html
    box-sizing: border-box
*, *:before, *:after
    box-sizing: inherit

body
    margin: 0
    color: colorDark
    background-color: colorLight
    > header
        position: fixed
#splash
    height: 100%
    background-color: colorDark
    color: colorLight
    /*
     * Aligns the text in the center of the screen vertically
     * using a pseudo-element right before the content
     */
    text-align: center
    &:before
        content: ''
        display: inline-block
        height: 100%
        vertical-align: middle
    div
        display: inline-block
        vertical-align: middle
