colorLight = #FFFFFF
colorDark = #282D32
colorBody = #5B5B5F
colorHighlight = #C0392B
colorNotice = #FFFBF5

// Font definitions. Font-face CSS files are imported in HTML head.
h1, h2, h3, h4, h5, h6
    font-family: 'Fira Sans', sans-serif
pre, code
    font-family: 'Source Code Pro', monospace
html
    font-family: 'Charter', serif
.serif
    font-family: 'Charter', serif
.sans
    font-family: 'Fira Sans', sans-serif
.mono
    font-family: 'Source Code Pro', monospace

// Set default width calculation to border-box for all elements
html
    box-sizing: border-box
*, *:before, *:after
    box-sizing: inherit

// Remove all default link styling
a
    color: inherit
    text-decoration: inherit

// HOMEPAGE STYLES
body
    margin: 0
    color: colorBody
    font-size: 20px
    h1, h2, h3, h4, h5, h6
        color: colorDark
    background-color: colorLight
    > header
        position: fixed
        width: 100%
        height: 0px
        z-index: 1000
        .headerdiv
            overflow: hidden
            .headerdivinner
                display: flex
                justify-content: flex-end
                padding: 15px
                &.dark
                    color: colorLight
                    background: linear-gradient(colorDark, rgba(0,0,0,0))
                &.light
                    color: colorDark
                    background: linear-gradient(colorLight, rgba(0,0,0,0))
                    transform: translateY(-100%)
nav
    ul
        margin: 0
        padding: 0
        list-style-type: none
        display: flex
    li
        margin: 0 10px
        a
            display: inline-block
            padding: 10px 15px
            border-radius: 5px
            &.highlight
                color: colorLight
                background-color: colorHighlight
#splash
    height: 100%
    position: relative
    background-color: colorDark
    *
        color: colorLight
    div
        height: 100%
        padding: 0 20px
        display: flex
        flex-flow: column nowrap
        justify-content: center
        align-items: center
        text-align: center
    i
        position: absolute
        bottom: 0
        left: 0
        right: 0
        max-width: 48px
        margin: 10px auto
        font-size: 48px
#skills
    div
        padding: 0 20px
        font-size: 20px
        header
            font-size: 1.25em
    .me ul
        list-style-type: none
        font-weight: 300
        font-size: 1.5em
        li
            padding-bottom: 20px
        em
            display: block
            font-weight: 500
            font-variant: small-caps
            font-size: 0.67em
            &.zh
                font-weight: 700
            padding-left: 20px
    .you ul
        list-style: none
        li
            padding-bottom: 20px
        li::before
            font-family: 'FontAwesome'
            content: '\f00c'
            margin: 0 0.5em 0 -1.5em

// GENERAL STYLES
h1
    font-size: 3em
h2
    font-size: 2em
h1, h2, h3, h4, h5, h6
    text-align: center
pre, code
    background-color: rgba(0,0,0,0.1)
    border-radius: 2px
    padding: 0 2px
code
    white-space: nowrap
hr
    border: 0px none
    height: 1px
    background: #eee
